
html {
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}

html {
    margin: 0;
    height: 100%;
	font-family: 'Muli', sans-serif;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}