#container {
	background-color: #FFF;
	margin: 80px 10%;
	padding: 30px 60px;
	border-radius: 20px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

.main,header {
	box-sizing: border-box;
}

.main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	color: #6b6b6b;
	margin: 40px 0;
}