textarea#input{
    width: 600px;
	height: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    font-family: 'Muli', sans-serif;
    background-color: #f7f7f7;

    
}

input[type=submit] {
    width: 100%;
    background-color: #43CBFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #43CBFF;
    background: #136c8f;
}
